<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <Exclude>[xunit.*]*,[Moq]*,[FluentAssertions]*,[GrpcContracts]*</Exclude>
          <ExcludeByFile>**/bin/**,**/obj/**,**/Migrations/**,**/*.g.cs,**/*.Designer.cs,**/Program.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
